<a title="Regresar a Configuración" href="/me" class="float-right"><i style="color:red;" class="fas fa-2x fa-times-circle"></i></a>
<br>
<div class="text-center">
  <h2 style="display: inline-block;">Cambiar Contraseña</h2> 
</div>

<br>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>



  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <label>Contraseña Actual</label>
    <%= f.password_field :current_password, autocomplete: "current-password", :class => "form-control" %>
  </div>

  <div class="form-group">
    <label>Nueva Contraseña</label>
    <%= f.password_field :password, autocomplete: "new-password", :class => "form-control" %>
    <% if @minimum_password_length %>
      <small>Mínimo <%= @minimum_password_length %> caracteres</small>
    <% end %>
  </div>

  <div class="form-group">
    <label>Confirmar Nueva Contraseña</label>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => "form-control" %>
  </div>
  <br>
  <div class="text-center mb-4">
    <%= f.submit "Cambiar Contraseña", :class => "btn btn-aqua" %>
  </div>
<% end %>
