<!-- Navbar Principal -->
<nav class="navbar navbar-expand-lg navbar-light navbar-primary w-100 p-2">
  <%if user_signed_in?%>
    <a data-turbolinks="false" class="navbar-brand ml-2" href="/comunidad">
  <%else%>
    <a data-turbolinks="false" class="navbar-brand ml-2" href="/">
  <%end%>
    <img src="/images/logo4.png" width="151" height="50" class="d-inline-block align-top logo-nav" alt="">
  </a>
  <div class="form-inline bg-white ml-auto"  id="form-botones">
    <%if !user_signed_in?%>
      <%if @ciudades_negocios.present?%>
        <%if !user_signed_in?%>
          <form class="form-inline" id="city" onsubmit="prevent()">
            <input type="hidden" id="ciudad_seleccionada" class="input-sm" value="<%= @ciudad%>">
            <select id="buscar_ciudad_select" class="form-control mr-2 mr-sm-2 input-sm">
              <option value="">Elige tu Ciudad</option>
              <% @ciudades_negocios.each do |ci| %>
                <%if ci.present?%>
                  <option value="<%=ci%>"><%=ci%></option>
                <%end%>
              <%end%>
            </select>
          </form>
        <%end%>
      <%end%>
    <%end%>
  </div>

  <%if user_signed_in?%>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-2 mr-2 w-100">
        <li id="nav-link-pedidos"class="nav-item <%=current_class?("/pedidos")%>">
          <a class="nav-link" href="/pedidos">Pedidos de Clientes</a>
        </li>
        <li class="nav-item <%=current_class?("/productos")%>">
          <a class="nav-link" href="/productos">Productos</a>
        </li>
        <li class="nav-item <%=current_class?("/me")%>">
          <a class="nav-link" href="/me">Configuraci贸n</a>
        </li>
        <%if tiene_pedidos_recomendados()%>
        <li class="nav-item <%=current_class?("/pedidos_recomendados")%>">
          <a class="nav-link" href="/pedidos_recomendados">Pedidos Recomendados</a>
        </li>
        <%end%>
        <li class="nav-item <%=current_class?("/reportes")%>">
          <a class="nav-link" href="/reportes">Reportes</a>
        </li>
        <li class="nav-item <%=current_class?("/plan")%>">
          <a class="nav-link" href="/plan">Mi Plan</a>
        </li>
        <!--<li class="nav-item <%=current_class?("/programas")%>">
          <a class="nav-link" href="/programas">Programas</a>
        </li>
        <li class="nav-item <%=current_class?("/recomendados")%>">
          <a class="nav-link" href="/recomendados">Recomendados</a>
        </li>-->
      </ul>
    </div>
  <%end%>
  <div class="form-inline search-form">
    <%if user_signed_in?%>
      <span class="navbar-text color-pink" style="margin-right:5px;">
        <%= current_user.nombre%>
      </span>
      <div class="btn-group">
        <a href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="true" class="nav-link"><img src="<%=@negocio.logo%>" class="rounded-circle navbar-avatar"></a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="/me">Configuraci贸n</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/pedidos">Pedidos de Clientes</a>
          <a class="dropdown-item" href="/productos">Productos</a>
          <%if tiene_pedidos_recomendados()%>
            <a class="dropdown-item" href="/pedidos_recomendados">Pedidos Recomendados</a>
          <%end%>
          <a class="dropdown-item" href="/reportes">Reportes</a>
          <a class="dropdown-item" href="/plan">Mi Plan</a>
          <!--<a class="dropdown-item" href="/programas">Programas</a>
          <a class="dropdown-item" href="/recomendados">Recomendados</a>-->
          <div class="dropdown-divider"></div>
          <%= link_to "Cerrar Sesion", destroy_user_session_path , :method => :delete, :class => "dropdown-item" %>
        </div>
      </div>
    <%else%>
      <% if @ocultar_menu.present? && @ocultar_menu == true%>
      <%else%>
        <ul class="navbar-nav ml-2 mr-2 w-100 justify-content-end pr-3">
          <li class="nav-link">
            <a data-turbolinks="false" id="btn_login" class="btn btn-outline-pink my-2 my-sm-0 ml-10 <%=hide_class_web?("/login")%>" href="/login">Inicia
              Sesi贸n</a>
            <a data-turbolinks="false" id="btn_login" class="nav-link my-2 my-sm-0 ml-10 <%=hide_class_movil?("/login")%>" href="/login">Inicia
              Sesi贸n</a>
          </li>
        </ul>
      <%end%>
    <%end%>
  </div>
</nav>

<!-- Navbar Movil -->
<div id="div_pedido" class="navbar navbar-light fixed-bottom bg-dark d-block d-md-none carbar bg-pica">
  <a href="#" data-turbolinks="false" data-toggle="offcanvas">
    <div class="container d-flex h-100">
      <div class="col-4 justify-content-center align-self-center c-white">
        <span class="btn btn-sm bg-white color-pink btn-circle btn-circle-xs total-items">0</span>
        <img src="/images/carrito.svg" alt="">
      </div>
      <div class="col-5 justify-content-center align-self-center c-white">
        <span>Ver pedido</span>
      </div>
      <div class="col-3 justify-content-center align-self-center c-white">
        <span class="total-pedido"></span>
      </div>
    </div>
  </a>
</div>

<!-- Navbar Movil
<div id="div_buscador" class="navbar navbar-light fixed-bottom bg-dark d-block d-md-none carbar btn-pink">
  <a href="#" data-turbolinks="false" data-toggle="offcanvas">
    <div class="container d-flex h-100">
      <div class="col-3 justify-content-center align-self-center c-white">
        <span class="btn btn-sm bg-white color-pink btn-circle btn-circle-sm total-items">0</span>
      </div>
      <div class="col-6 justify-content-center align-self-center c-white">
        <span>Ver pedido</span>
      </div>
      <div class="col-3 justify-content-center align-self-center c-white">
        <span class="total-pedido"></span>
      </div>
    </div>
  </a>
</div>  -->

<!-- Buscador movil-->

<div class="d-block d-md-none buscador_movil">
  <div class="input-group input-group-sm">
    <input type="text" id="buscador_movil" style="visibility:hidden;" class="form-control" placeholder="Buscar">
    <div class="input-group-append">
      <button id="btn_busqueda_movil" title="Buscar productos" class="btn btn-sm btn-aqua redondo btn-cart box-shadow-btn my-sm-0 ml-10"><i class="fas fa-search"></i></button>
    </div>
  </div>
</div>

<!-- Carrito Flotante -->
<div id="btn-cart_float" class="d-none d-md-block text-right">
<div class="input-group buscador-div">
  <input type="text" id="buscador" style="visibility:hidden;" class="form-control" placeholder="Buscar">
  <div class="input-group-append">
    <button id="btn_busqueda" title="Buscar productos" class="btn btn-aqua btn-cart box-shadow-btn my-2 my-sm-0 ml-10"><i class="fas fa-search"></i></button>
  </div>
</div>

  <button data-toggle="offcanvas" data-placement="left" data-tooltip="tooltip" title="Ver Pedido" type="button" class="btn btn-cart box-shadow-btn my-2 my-sm-0 ml-10 bg-pica justify-content-center align-self-center">
    <span class="badge bg-white color-pink total-items btn-circle btn-circle-xs">0</span>
    <img src="/images/carrito.svg" alt="">
    <span class="total-pedido"></span>
  </button>
</div>

<a id="btn_arriba" href="#" data-tooltip="tooltip" title="Ir arriba" class="btn btn-sm btn-aqua btn-cart box-shadow-btn my-2 my-sm-0 ml-10 d-none d-md-block"><i class="fas fa-arrow-up"></i></a>