<!-- Navbar Principal -->
<nav class="navbar navbar-expand-lg navbar-light navbar-primary w-100 p-2">
  <div data-turbolinks="false" class="navbar-brand ml-2">
    <img src="https://i.ibb.co/7SkTLB0/logo-fina.png" width="122" height="50" class="d-inline-block align-top logo-nav" alt="">
  </div>
  <div class="collapse navbar-collapse bg-white" id="navbarSupportedContent">
    <ul class="navbar-nav ml-2 mr-2 w-100">
      <%if user_signed_in?%>
        <li id="nav-link-pedidos"class="nav-item <%=current_class?("/pedidos")%>">
          <a class="nav-link" href="/pedidos">Pedidos de Clientes</a>
        </li>
        <li class="nav-item <%=current_class?("/productos")%>">
          <a class="nav-link" href="/productos">Productos</a>
        </li>
        <li class="nav-item <%=current_class?("/me")%>">
          <a class="nav-link" href="/me">Configuración</a>
        </li>
        <li class="nav-item <%=current_class?("/plan")%>">
          <a class="nav-link" href="/plan">Mi Plan</a>
        </li>
        <li>
          <% if user_signed_in? %>
            <%= link_to destroy_user_session_path , :method => :delete, :class => "btn btn-outline-danger my-2 my-sm-0 ml-10" do %>
              <i class="fas fa-sign-out-alt"></i>
            <% end %>
          <% end %>
        </li>
        </ul>
      <% else %>
        <ul class="navbar-nav ml-2 mr-2 w-100 justify-content-end">
          <li class="nav-link">
            <%if @ciudades_negocios.present?%>
              <%if !user_signed_in?%>
                <form class="form-inline" id="city" onsubmit="prevent()">
                  <input type="hidden" id="ciudad_seleccionada" value="<%= @ciudad%>">
                  <select id="buscar_ciudad_select" class="form-control mr-sm-2">
                    <option value="">Elige tu Ciudad</option>
                    <% @ciudades_negocios.each do |ci| %>
                      <%if ci.present?%>
                        <option value="<%=ci%>"><%=ci%></option>
                      <%end%>
                    <%end%>
                  </select>
                </form>
              <%end%>
            <%end%>
          </li>
          <li class="nav-link">
            <a data-turbolinks="false" id="btn_login" class="btn btn-outline-pink my-2 my-sm-0 ml-10" href="/login">Inicia
              Sesión</a>
          </li>
        </ul>
      <%end%>
  </div>
  <div class="form-inline bg-white ml-auto"  id="form-botones">
    <%if user_signed_in?%>
      <span class="navbar-text text-dark">
        <strong>Bienvenido <%= "#{current_user.nombre}" %></strong>
      </span>
    <%else%>
    <%end%>

    <button data-toggle="offcanvas" title="Ver Pedido" type="button"
      class="btn btn-cart box-shadow-btn my-2 my-sm-0 ml-10 d-none">
      <span class="total-pedido"></span>
      <i class="fas fa-shopping-cart"></i> <span class="badge btn-pink total-items">0</span>
    </button>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <%if user_signed_in?%>
    <%end%>
  </div>
</nav>

<!-- Navbar Movil -->
<div id="div_pedido" class="navbar navbar-light fixed-bottom bg-dark d-block d-md-none carbar bg-pica">
  <a href="#" data-turbolinks="false" data-toggle="offcanvas">
    <div class="container d-flex h-100">
      <div class="col-4 justify-content-center align-self-center c-white">
        <span class="btn btn-sm bg-white color-pink btn-circle btn-circle-xs total-items">0</span>
        <img src="/images/carrito.svg" alt="">
      </div>
      <div class="col-5 justify-content-center align-self-center c-white">
        <span>Ver pedido</span>
      </div>
      <div class="col-3 justify-content-center align-self-center c-white">
        <span class="total-pedido"></span>
      </div>
    </div>
  </a>
</div>

<!-- Navbar Movil
<div id="div_buscador" class="navbar navbar-light fixed-bottom bg-dark d-block d-md-none carbar btn-pink">
  <a href="#" data-turbolinks="false" data-toggle="offcanvas">
    <div class="container d-flex h-100">
      <div class="col-3 justify-content-center align-self-center c-white">
        <span class="btn btn-sm bg-white color-pink btn-circle btn-circle-sm total-items">0</span>
      </div>
      <div class="col-6 justify-content-center align-self-center c-white">
        <span>Ver pedido</span>
      </div>
      <div class="col-3 justify-content-center align-self-center c-white">
        <span class="total-pedido"></span>
      </div>
    </div>
  </a>
</div>  -->

<!-- Buscador movil-->

<div class="d-block d-md-none buscador_movil">
  <div class="input-group input-group-sm">
    <input type="text" id="buscador_movil" style="visibility:hidden;" class="form-control" placeholder="Buscar">
    <div class="input-group-append">
      <button id="btn_busqueda_movil" title="Buscar productos" class="btn btn-sm btn-pink redondo btn-cart box-shadow-btn my-sm-0 ml-10"><i class="fas fa-search"></i></button>
    </div>
  </div>
</div>

<!-- Carrito Flotante -->
<div id="btn-cart_float" class="d-none d-md-block text-right">
<div class="input-group buscador-div">
  <input type="text" id="buscador" style="visibility:hidden;" class="form-control" placeholder="Buscar">
  <div class="input-group-append">
    <button id="btn_busqueda" title="Buscar productos" class="btn btn-aqua btn-cart box-shadow-btn my-2 my-sm-0 ml-10"><i class="fas fa-search"></i></button>
  </div>
</div>

  <button data-toggle="offcanvas" data-placement="left" data-tooltip="tooltip" title="Ver Pedido" type="button" class="btn btn-cart box-shadow-btn my-2 my-sm-0 ml-10 bg-pica justify-content-center align-self-center">
    <span class="badge bg-white color-pink total-items btn-circle btn-circle-xs">0</span>
    <img src="/images/carrito.svg" alt="">
    <span class="total-pedido"></span>
  </button>
</div>

<a id="btn_arriba" href="#" data-tooltip="tooltip" title="Ir arriba" class="btn btn-sm btn-aqua btn-cart box-shadow-btn my-2 my-sm-0 ml-10 d-none d-md-block"><i class="fas fa-arrow-up"></i></a>