
<div id="demo" class="carousel slide" data-ride="carousel" style="z-index: 1">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/C-1-1.png"  width="1100" height="200" class="d-none d-md-block">
      <img src="/images/C-1-2.png" width="1100" height="200" class="d-block d-md-none">
    </div>
    <div class="carousel-item">
      <img src="/images/C-2-1.png"  width="1100" height="200" class="d-none d-md-block">
      <img src="/images/C-2-2.png" width="1100" height="200" class="d-block d-md-none">
    </div>
    <div class="carousel-item">
      <a href="/registro">
      <img src="/images/C-3-1.png"  width="1100" height="200" class="d-none d-md-block">
      <img src="/images/C-3-2.png" width="1100" height="200" class="d-block d-md-none">
      </a>
    </div>
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>


<nav class="navbar navbar-expand <%=  browser.platform.ios? ? '' : 'sticky-top'%>" id="cat-nav">
  <ul class="navbar-nav scrollable-content d-flex h-100">
    <% @categorias.each_with_index do |cat,i|%>
      <li class="nav-item ilb">
        <a data-turbolinks="false" class="<%=i == 0 ? 'nav-link active' : 'nav-link' %>" href="#cat_<%= cat.id %>"><%= cat.name.upcase %></a>
      </li>
    <%end%>
  </ul>
</nav>

<% @negocios.each do |cat|%>
  <div class="container cont-cat" id="cat_<%= cat[:id] %>">
    <h4><%= cat[:nombre] %></h4>
    <div class="owl-carousel owl-theme">
      <% cat[:negocios].each do |neg| %>
        <div class="card <%= (neg.estatus == 1 && neg.pedidos_restantes > 0) ? "" : "card-disabled"%>">
          <%if neg.estatus == 1 && neg.pedidos_restantes > 0%>
            <a href="/socios/<%= neg.slug.present? ? neg.slug : "#{neg.id}-#{neg.nombre.to_s.parameterize}"%>" class="stretched-link"></a>
          <%end%>
          <img src="<%= neg.logo %>" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= neg.nombre %></h5>
            <p class="card-text"><%= neg.descripcion %></p>
            <p class="card-tex"></p>
          </div>
          <%if @link_ref.present?%>
            <button type="button" class="btn btn-sm btn-aqua btn-recomendar-ps" data-page="<%=@base_url%>" data-ref="<%=@link_ref%>">Recomendar PS</button>
          <%end%>
        </div>
      <%end%>
    </div>
  </div>
<%end%>
