<div class="container">

  <div class="row mt-20 mb-20">
    <h2>Mi Plan</h2>
  </div>
  <div class="class row">
    <div class="col-12 col-md-4">
      <ul class="list-group">
        <li class="list-group-item active"><b><%=@plan.nombre%></b></li>
        <%if @config_user.estatus == 1%>
          <li class="list-group-item">Estatus: <span class="badge badge-success"><%=@estatus%></span></li>
        <%else%>
          <li class="list-group-item">Estatus: <span class="badge badge-danger"><%=@estatus%></span></li>
        <%end%>
        <li class="list-group-item">Inicio Mensualidad: <b><%=@config_user.fecha_inicio.strftime("%d/%m/%Y")%></b></li>
        <li class="list-group-item">Vencimiento: <b><%=@config_user.fecha_vencimiento.strftime("%d/%m/%Y")%></b></li>
        <%if @config_user.estatus == 1%>
          <%if @plan.id == 2%>
            <li class="list-group-item">Pedidos Restantes: <span class="badge badge-success">ilimitados</span></li>
          <%else%>
            <li class="list-group-item">Pedidos Restantes: <span class="badge badge-secondary"><%=@config_user.pedidos_restantes%></span></li>
          <%end%>
        <%else%>
          <li class="list-group-item">Pedidos Restantes: <span class="badge badge-danger">0</span></li>
        <%end%>
      </ul>
    </div>
    <div class="col-12 col-md-6">
      <p>
        Instrucciones para Contratar <b>Plan Visionario</b>: <br>

        Depositar a la cuenta BBVA a nombre de:  Efraín Sánchez Valois <br>
        CLABE: 012 020 0273 5348 6173<br>
        Cuenta: 273 534 8617<br><br>

        Para 1 mes, $299.00 + IVA <br>

        Para 1 año, $3,229.2 + IVA (10% Descuento) <br><br>

        Mandar comprobante al whatsapp 686-262-3441 y se activará inmediatamente.
      </p>
    </div>
  </div>
</div>