  <div class="pedido">
<img src="<%=@negocio.logo%>" style="width:1px; height:1px;">
    <div class="col-12">
      <div class="row">
        <div class="col-2">
          <img src="<%=@negocio.logo%>" class="img-thumbnail img-fluid img-print">
        </div>
        <div class="col-10 align-self-center">
          <h5><%=@negocio.nombre%></h5>
          <span class="ped-numero d-block d-md-none">Pedido <span class="color-pink">#<%= @pedido.numero.to_s.rjust(4, "0")%></span></span>
          <p class="ped-numero d-block d-md-none mb-0" style="font-size:0.9rem;"><i class="far fa-clock color-pink"></i> <%= "#{@pedido.fecha} #{@pedido.created_at.strftime("%I:%M %p")}" %></p>
          <label class="d-none d-md-block mb-0 mt-20" for="estatus">Estatus Pedido:</label>
          <input type="text" style="width:20%;" class="form-control" value="<%=@pedido.estatus%>">
        </div>
      </div>
      <hr>
    </div>

    <div class="col-12">
      <div class="row">
        <div class="col-6 mt-10">
          <div class="datos">
            <h5 class="color-pink">Datos del Cliente</h5>
            <p>Nombre: <strong><%= @pedido.cliente_nombre%></strong></p>
            <p>Teléfono: <strong><%= @pedido.cliente_telefono%></strong></p>
            <p>Correo: <strong><%= @pedido.cliente_email%></strong></p>
            <p>Dirección: <strong><%= @pedido.cliente_direccion%></strong></p>
            <p>Colonia: <strong><%= @pedido.area_entrega%></strong></p>
          </div>
        </div>
        <div class="col-6 mt-10">
          <div class="datos">
            <h5 class="color-pink">Detalles del Pedido</h5>
            <p>Tipo de Envío: <strong><%= @pedido.cliente_tipo_envio%></strong></p>
            <p>Forma de pago: <strong><%= @pedido.cliente_metodo_pago%></strong></p>
            <p>Requiere Factura: <strong><%= (@pedido.cliente_factura == true ? "Si" : "No") %></strong></p>
            <% if @pedido.cliente_factura == true%>
            <p>RFC: <strong><%= @pedido.cliente_rfc%></strong></p>
            <p>Uso CFDI: <strong><%= @pedido.cliente_uso_cfdi%></strong></p>
            <% end %>
            <% if @pedido.comentario.present?%>
              <p>Indicación especial: <strong><%= @pedido.comentario%></strong></p>
            <%end%>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="row">
        <div class="col-12  pt-20">
          <h5 class="color-pink text-center">Lista del pedido</h5>
            <table class="table table-sm table-hover" style="width:100%;">
              <thead>
                <tr>
                  <th class="text-center">Cant</th>
                  <th class="text-center">Producto</th>
                  <th class="text-center">Unidad</th>
                  <th class="text-center">Precio</th>
                  <th class="text-center">Subtotal</th>
                </tr>
              </thead>
              <tbody>
                <% @productos.each do |p|%>
                <tr>
                  <td class="text-center"><%= p.cantidad %></td>
                  <td><%= p.nombre %></td>
                  <td class="text-center"><%= p.unidad %></td>
                  <td class="text-center"><%= number_to_currency(p.precio, :precision => 2) %></td>
                  <td class="text-right"><%= number_to_currency(p.subtotal, :precision => 2) %></td>
                </tr>
                <%end%>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="3"></td>
                  <td class="text-right ped-total"><strong>Total:</strong></td>
                  <td class="text-right ped-total"><%= number_to_currency(@pedido.total, :precision => 2) %></td>
                </tr>
              </tfoot>
            </table>
        </div>
      </div>
    </div>



  </div>