<div class="container p-4">
  <% if @vencimiento.present? %>
    <div class="alert alert-warning" role="alert">
      <%= @vencimiento %>
    </div>
  <%end%>
  <%if @pedidos_restantes.present? && @pedidos_restantes < 30 && @usuario.estatus == 1%>
    <div class="alert alert-warning" role="alert">
        Número de pedidos restantes: <b><%= @pedidos_restantes %></b>
    </div>
  <%end%>
  <div class="row">
    <h2 class="col-md-12">Pedidos</h2>
  </div>
  <div class="table-responsive">
    <table class="table table-sm" style="width:100%;">
      <thead>
        <tr>
          <th>#Pedido</th>
          <th>Fecha</th>
          <th>Cliente</th>
          <th>Colonia</th>
          <th>Pago</th>
          <th>Total</th>
          <th>Estatus</th>
        </tr>
      </thead>
      <tbody>
        <% @pedidos.each do |p|%>
        <tr>
          <td><a class="link" href="/pedido/<%=p.id%>"><%= "##{p.numero.to_s.rjust(4, "0")}" %></a></td>
          <td><%= "#{p.fecha.to_date.strftime("%d/%m/%y")} #{p.created_at.strftime("%I:%M %P")}" %></td>
          <td><%= p.cliente_nombre %></td>
          <td><%= p.area_entrega %></td>
          <td><%= p.cliente_metodo_pago %></td>
          <td><%= number_to_currency(p.total, :precision => 2) %></td>
          <td><%= select_tag("pedido_estatus", options_for_select(@estatus_list, p.estatus), { :include_blank => false, :class => 'form-control pedido_estatus',:id => nil, :data => {"pedido-id": p.id}}) %></td>
        </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>