<div class="container cont-cat pt-50 pb-50">
  <div class="pedido">

    <div class="col-12">
      <div class="row">
        <div class="col-5 col-md-2 col-pad-5 align-self-center">
          <img src="<%=@negocio.logo%>" class="img-thumbnail img-fluid">
        </div>
        <div class="col-7 col-md-3 col-pad-5 align-self-center">
          <h5><%=@negocio.nombre%></h5>
          <span class="ped-numero d-block d-md-none">Pedido <span class="color-pink">#<%= @pedido.numero.to_s.rjust(4, "0")%></span></span>
          <p class="ped-numero d-block d-md-none mb-0" style="font-size:0.9rem;"><i class="far fa-clock color-pink"></i> <%= "#{@pedido.fecha} #{@pedido.created_at.strftime("%I:%M %p")}" %></p>
          <label class="d-none d-md-block mb-0 mt-20" for="estatus">Estatus Pedido:</label>
          <%= select_tag("pedido_estatus", options_for_select(@estatus_list, @pedido.estatus), { :include_blank => false, :class => 'form-control', :data => {"pedido-id": @pedido.id}}) %>
          <%= link_to 'PDF', descargar_pdf_path(:format => :pdf), :method => :get, :id =>"btn-pdf",target: "_blank", :class => "btn btn-pink mt-10" %>
        </div>
        <div class="col-md-4 align-self-center text-center">
        <input type="hidden" id="link_pedido" value="<%=@link_pedido%>">
        <input type="hidden" id="link_wa_base" value="<%=@link_wa_base%>">
        <%if @pedido.estatus != "Nuevo"%>
          
          <%if @pedido.estatus == "ZAS Reparto" && @pedido.reparto.present? && @pedido.reparto.to_f > 0%>
            <textarea class="form-control d-none" id="texto_wa" cols="50" disabled rows="5"><%=@mensaje_wa%></textarea>
            <textarea class="form-control" id="texto_nota" cols="50" rows="3" placeholder="Agrega una nota o instrucción especial al repartidor (opcional)"></textarea>
            <a href="<%=@link_wa%>" id="link_wa" target="_blank" class="btn btn-outline-pink no-hover mt-10 d-none">Solicitar Reparto <i class="fab btn-wa fa-whatsapp fa-lg"></i></a>
            <button type="button" id="btn_solicitar_reparto" data-empresa-id="<%=@negocio.id%>" data-pedido-id="<%=@pedido.id%>" class="btn btn-outline-pink no-hover mt-10" class="">Solicitar Reparto</button>
          <%elsif @pedido.estatus == "Enviada a ZAS" %>
            <p>Solicitud enviada a ZAS Reparto existosamente, en breve te avisarán cuando vayan en camino.</p>
          <%else%>
            <textarea class="form-control" id="texto_wa" cols="50" rows="5"><%=@mensaje_wa%></textarea>
            <a href="<%=@link_wa%>" id="link_wa" target="_blank" class="btn btn-outline-pink no-hover mt-10">Avisar a Cliente <i class="fab btn-wa fa-whatsapp fa-lg"></i></a>
          <%end%>
        
        <%end%>
        </div>
        <div class="col-md-3 d-none d-md-block text-right align-self-center">
          <p class="ped-numero"><strong>Pedido <span class="color-pink">#<%= @pedido.numero.to_s.rjust(4, "0")%></span></strong></p>
          <p class="ped-numero"><i class="far fa-clock color-pink"></i> <%= "#{@pedido.fecha} #{@pedido.created_at.strftime("%I:%M %p")}" %></p>
        </div>
      </div>
      <hr>
    </div>

    <div class="col-12">
      <div class="row">
        <div class="col-12 col-md-6 mt-10">
          <div class="datos">
            <h5 class="color-pink">Datos del Cliente</h5>
            <p>Nombre: <strong><%= @pedido.cliente_nombre%></strong></p>
            <p>Teléfono: <strong><%= @pedido.cliente_telefono%></strong></p>
            <p>Correo: <strong><%= @pedido.cliente_email%></strong></p>
            <p>Dirección: <strong><%= @pedido.cliente_direccion%></strong></p>
            <p>Colonia: <strong><%= @pedido.area_entrega%></strong></p>
          </div>
        </div>
        <div class="col-12 col-md-6 mt-10">
          <div class="datos">
            <h5 class="color-pink">Detalles del Pedido</h5>
            <p>Tipo de Envío: <strong><%= @pedido.cliente_tipo_envio%></strong></p>
            <p>Forma de pago: <strong><%= @pedido.cliente_metodo_pago%></strong></p>
            <% if @pedido.cliente_metodo_pago == "Transferencia"%>
              <p>
                Beneficiario: <%= @negocio.beneficiario%> <br>
                Cuenta: <%= @negocio.cuenta%><br>
                Banco: <%= @negocio.banco%>
              </p>
            <%end%>
            <%if @negocio.factura == "Si"%>
              <p>Requiere Factura: <strong><%= (@pedido.cliente_factura == true ? "Si" : "No") %></strong></p>
              <% if @pedido.cliente_factura == true%>
                <p>RFC: <strong><%= @pedido.cliente_rfc%></strong></p>
                <p>Uso CFDI: <strong><%= @pedido.cliente_uso_cfdi%></strong></p>
              <% end %>
            <%end%>
            <% if @pedido.comentario.present?%>
              <p>Indicación especial: <strong><%= @pedido.comentario%></strong></p>
            <%end%>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="row">
        <div class="col-12  pt-20">
          <h5 class="color-pink text-center">Lista del pedido</h5>
          <div class="table-responsive">
            <table class="table table-sm table-hover" style="width:100%;">
              <thead>
                <tr>
                  <th class="text-center">Cant</th>
                  <th class="text-center">Producto</th>
                  <th class="text-center">Unidad</th>
                  <th class="text-center">Precio</th>
                  <th class="text-center">Subtotal</th>
                </tr>
              </thead>
              <tbody>
                <% @productos.each do |p|%>
                <tr class="nobreak">
                  <td class="text-center"><%= p.cantidad %></td>
                  <td><%= p.nombre %></td>
                  <td class="text-center"><%= p.unidad %></td>
                  <td class="text-center"><%= number_to_currency(p.precio, :precision => 2) %></td>
                  <td class="text-right"><%= number_to_currency(p.subtotal, :precision => 2) %></td>
                </tr>
                <%end%>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="3"></td>
                  <td class="text-right ped-total"><strong>Total:</strong></td>
                  <td class="text-right ped-total"><%= number_to_currency(@pedido.total, :precision => 2) %></td>
                </tr>
                <%if @pedido.reparto.present? && @pedido.reparto.to_f > 0%>
                  <tr>
                    <td colspan="3"></td>
                    <td class="text-right ped-total"><strong>Reparto:</strong></td>
                    <td class="text-right ped-total"><%= number_to_currency(@pedido.reparto, :precision => 2) %></td>
                  </tr>
                  <tr>
                    <td colspan="3"></td>
                    <td class="text-right ped-total"><strong>Gran Total:</strong></td>
                    <td class="text-right ped-total"><%= number_to_currency((@pedido.total.to_f+@pedido.reparto.to_f), :precision => 2) %></td>
                  </tr>
                <%end%>
                <%if @pedido.envio.present? && @pedido.envio.to_f > 0%>
                  <tr>
                    <td colspan="3"></td>
                    <td class="text-right ped-total"><strong>Envío:</strong></td>
                    <td class="text-right ped-total"><%= number_to_currency(@pedido.envio, :precision => 2) %></td>
                  </tr>
                  <tr>
                    <td colspan="3"></td>
                    <td class="text-right ped-total"><strong>Gran Total:</strong></td>
                    <td class="text-right ped-total"><%= number_to_currency((@pedido.total.to_f+@pedido.envio.to_f), :precision => 2) %></td>
                  </tr>
                <%end%>
              </tfoot>
            </table>
          </div>
          <% if @negocio.comentario.present?%>
            <div class="alert alert-warning" role="alert" id="alert_aviso"><%=@negocio.comentario%></div>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>