<div class="row">
  <div class="col-8 offset-2">
    <%= form_with(model: producto, local: true, html: {class: '', autocomplete: "off"}) do |form| %>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="producto_codigo">SKU</label>
          <%= form.text_field :codigo, autofocus: true, class:"form-control" %>
        </div>
        <div class="form-group col-md-4">
          <label for="producto_descripcion">Descripción</label>
          <%= form.text_field :descripcion, class:"form-control" %>
        </div>
        <div class="form-group col-md-4">
          <label for="producto_descripcion2">Descripción 2</label>
          <%= form.text_field :descripcion2, class:"form-control" %>
        </div>
        <div class="form-group col-md-2">
          <%= form.label :categoria %>
          <%= form.text_field :categoria, class:"form-control" %>
        </div>
      </div>
      <div class="form-row">
      <div class="form-group col-md-3">
          <%= form.label :unidad %>
          <%= form.text_field :unidad, class:"form-control" %>
        </div>
        <div class="form-group col-md-3">
          <%= form.label :precio %>
          <%= form.text_field :precio, class:"form-control" %>
        </div>
        <div class="form-group col-md-3">
          <%= form.label :impuesto %>
          <%= form.text_field :impuesto, class:"form-control" %>
        </div>
        <div class="form-group col-md-3">
          <%= form.label :inventario %>
          <%= form.text_field :inventario, class:"form-control" %>
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-2">
        </div>
        <div class="from-group col-md-4">
          <%= form.label :foto %>
          <%= form.file_field :foto, class:"form-control" %>
        </div>
        <div class="from-group col-md-4 mb-20">
          <%if !producto.foto.nil?%>
              <img id="img_producto" src="<%= producto.foto %>" class="img-thumbnail foto-mini">
          <%end%>
        </div>
      </div>
      <div class="text-center form-group">
        <button class="btn btn-success" type="submit">Guardar</button>
      </div>
    <% end %>
  </div>
</div>
