
<div class="container cont-cat">

  <div class="row row row-cols-3 pt-40">
    <div class="col-4"><h4>Listado de Productos</h4></div>
    <div class="col-3">
      <%= link_to(new_producto_path, :class => 'btn btn-sm btn-pink', title:"Nuevo Producto") do %>
        Agregar Producto <i class="fas fa-plus"></i>
      <% end %>
      <%= link_to(exportar_url(format: "xlsx"), :class => 'btn btn-sm btn-success') do %>
        Exportar a Excel <i class="far fa-file-excel"></i>
      <% end %>
    </div>
    <div class="col-5">
      <%= form_tag importar_productos_path, multipart: true, id: "form-importar" do%>
        <input type="file" name="file" id="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" title="Seleccione la plantilla excel">
        <button type="submit" class="btn btn-sm btn-secondary" id="btn_importar">Importar Excel <i class="fas fa-arrow-circle-up"></i></button>
      <%end%>
    </div>
  </div>
  <div class="row">
    <div class="table-wrap">
      <table class="table table-sm table-hover table-bordered mt-10" style="width:100% !important;">
        <thead>
          <tr>
            <th>SKU</th>
            <th>Categoría</th>
            <th>Descripción</th>
            <th>Descripción 2</th>
            <th>Unidad</th>
            <th>Precio</th>
            <th>Impuesto</th>
            <th>Inventario</th>
            <th>Foto</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @productos.each do |producto| %>
            <tr>
              <td><%= producto.codigo %></td>
              <td><%= producto.categoria %></td>
              <td><%= producto.descripcion %></td>
              <td><%= producto.descripcion2 %></td>
              <td><%= producto.unidad %></td>
              <td><%= producto.precio %></td>
              <td><%= producto.impuesto %></td>
              <td><%= producto.inventario %></td>
              <td class="text-center"><img id="img_producto" src="<%= producto.foto[0] %>" class="img-thumbnail foto-mini-lista"></td>
              <td class="text-center">
                <%= link_to(edit_producto_path(producto), :class => 'btn btn-sm btn-warning', :data => {tooltip: "tooltip"}, :title => "Editar Producto") do %>
                  <i class="fas fa-edit"></i>
                <% end %>
                <%= link_to(producto, class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: 'Seguro de Eliminar?', tooltip: "tooltip" },:title => "Eliminar Producto" ) do %>
                  <i class="fas fa-trash"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
