<div class="col-12 pt-20">
  <div class="row">
    <div class="col-6 col-md-2 align-self-center">
      <img src="<%=@tienda.logo%>" class="img-thumbnail img-fluid">
      <input type="hidden" id="datos_empresa" value="<%=@datos_empresa.to_json%>">
    </div>
    <div class="col-6 col-md-4 align-self-center">
      <h5><%=@tienda.nombre%></h5>
      <%if @tienda.mostrar_direccion == true %>
        <p><%=@tienda.direccion%></p>
      <%end%>
      <input type="hidden" id="negocio_factura" value="<%=@tienda.factura%>">
      <input type="hidden" id="negocio_anuncio" value="<%=@tienda.aviso%>">
      <input type="hidden" id="negocio_nombre" value="<%=@tienda.nombre%>">
      <div class="align-self-bottom">
        <a href="<%=@tienda.facebook%>" class="btn-fb" target="_blank"><i class="fab fa-facebook-square fa-2x"></i></a>
        <a href="https://api.whatsapp.com/send?phone=52<%=@tienda.whatsapp%>" class="btn-wa" target="_blank"><i
            class="fab fa-whatsapp-square fa-2x"></i></a>
        <a href="tel:+52<%=@tienda.whatsapp%>" class="btn-ph" targer="_blank"><i
            class="fas fa-phone-square fa-2x"></i></a>
      </div>
      <div class="row mt-10 d-none d-md-block">
        <a href="#cat-nav" id="ver_prod_web" class="btn btn-pink bg-pica">Realizar Pedido</a>
      </div>
    </div>
    <div class="col-12 col-md-6 align-self-center">
      <p class=""><%= @tienda.descripcion %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <a href="#cat-nav" id="ver_prod_movil" class="btn btn-pink-alt mt-10 d-block d-md-none">Realizar Pedido</a>
    </div>
  </div>
</div>
<hr>

<div class="container cont-cat" id="info_proveedor">
  <div class="card-deck">
    <div class="card card-rounded">
      <div class="card-body">
        <div class="row">
          <div class="col-2 align-self-center">
            <img src="/images/icono_entrega.png" class="img-fluid">
          </div>
          <div class="col-10 align-self-center">
            <h5 class="card-title mb-0 color-pink">Condiciones de Entrega</h5>
          </div>
        </div>

        <div class="row">

          <div class="col-12 mt-20">
            <% if @tienda.tipo_entrega.to_i == 3 || @tienda.tipo_entrega.to_i == 1%>
            <div class="col-12">
              <div class="row">
                <div class="col-12 align-self-center text-center">
                  <h5 class="mb-0">Entrega a domicilio <i class="fas fa-car-side fa-xs color-pink"></i></h5>
                  <% if @tienda.costo_envio.present?%>
                  <h6 class="mb-0" style="color:#333"> Costo de envío:
                    <%= number_to_currency(@tienda.costo_envio, :precision => 2) %></h6>
                  <%end%>
                </div>
              </div>
            </div>
            <%end%>
            <% if @tienda.tipo_entrega.to_i == 3 || @tienda.tipo_entrega.to_i == 2%>
            <div class="col-12 mt-10">
              <div class="row">
                <div class="col-12 align-self-center text-center">
                  <h5 class="mb-0">Pasar y recoger <i class="fas fa-store fa-xs color-pink"></i></h5>
                </div>
              </div>
            </div>
            <%end%>
          </div>
          <div class="col-12 text-center mt-20">
            <h6><strong>Horario de atención:</strong></h6>
            <p><%= @tienda.horario%></p>
          </div>
        </div>
      </div>
    </div>
    <div class="card card-rounded">
      <div class="card-body">
        <div class="row ">
          <div class="col-2 align-self-center">
            <img src="/images/icono_higiene.png" class="img-fluid">
          </div>
          <div class="col-10 align-self-center">
            <h5 class="card-title mb-0 color-pink">Medidas de Higiene</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mt-20">
            <p class="text-center"><%= @tienda.condiciones_higiene.gsub("\n","<br>\n").html_safe %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="card card-rounded">
      <div class="card-body">
        <div class="row">
          <div class="col-2 align-self-center">
            <img src="/images/icono_compra.png" class="img-fluid">
          </div>
          <div class="col-10 align-self-center">
            <h5 class="card-title mb-0 color-pink">Condiciones de Compra</h5>
          </div>
        </div>
        <div class="mt-20 text-center">
          <p>Compra mínima: <%= number_to_currency(@tienda.compra_minima, :precision => 2) %></p>
          <p class="mb-0">Métodos de pago aceptados:</p>
          <ul style="list-style-type: none;">
            <% if @tienda.metodo_pago.to_i == 3%>
            <li>Efectivo <img src="/images/icono_money.png" alt=""></li>
            <li>Tarjeta <img src="/images/icono_card.png" alt=""></li>
            <%elsif @tienda.metodo_pago.to_i == 2%>
            <li>Tarjeta <img src="/images/icono_card.png" alt=""></li>
            <%else%>
            <li>Efectivo <img src="/images/icono_money.png" alt=""></li>
            <%end%>
            <% if @tienda.beneficiario.present? && @tienda.cuenta.present? && @tienda.banco.present?%>
            <li>Transferencia <img src="/images/icono_transfer.png" alt=""></li>
            <%end%>
          </ul>
          <% if @tienda.factura == "Si"%>
          <p>Facturación disponible <i class="far fa-file-alt color-pink"></i></p>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand <%=  browser.platform.ios? ? '' : 'sticky-top'%>" id="cat-nav">
  <ul class="navbar-nav scrollable-content d-flex h-100">
    <% @categorias.each_with_index do |cat,i|%>
    <li class="nav-item ilb">
      <a data-turbolinks="false" class="<%=i == 0 ? 'nav-link active' : 'nav-link' %>"
        href="#cat_<%= I18n.transliterate(cat).delete(' ').remove(".") %>"><%= cat.upcase %></a>
    </li>
    <%end%>
  </ul>
</nav>

<% @prods.each do |cat|%>
  <%if @tienda.vista_card == false%>
    <div class="container cont-cat div-cat" id="cat_<%=I18n.transliterate(cat[:id]).delete(' ').remove(".")%>">
      <h4><%= cat[:nombre].titleize%></h4>
      <% cat[:productos].each do |prod|%>
          <div class="lista-item row borders-item <%= prod.inventario.present? && prod.inventario.to_i == 0 ? "agotado" : ""%>">
            <div class="col-2 align-self-center text-center" style="padding:0px">
              <%if prod.foto.present?%>
              <img src="<%= prod.foto[0].thumb %>" class="img-responsive img-prod">
              <%end%>
            </div>
            <div class="col-10 align-self-center pad-5">
              <div class="col-12 no-padding">
                <p class="mb-0 prod-descr"><%=prod.descripcion.titleize%></p>
                <%if prod.descripcion2.present?%>
                <p class="mb-0 prod-descr-2 text-muted"><%=prod.descripcion2.downcase%></p>
                <%end%>
              </div>
              <div class="row">
                <div class="col-5 col-md-8 align-self-end" style="padding-right:0px;">
                  <%if prod.precio.to_f <= 0%>
                  <p class="mb-0 precio"><strong><%=prod.unidad%></span></strong></p>
                  <%else%>
                  <p class="mb-0 precio"><strong><%=number_to_currency(prod.precio)%><span class=""> /
                        <%=prod.unidad%></span></strong>
                  </p>
                  <%end%>
                </div>
                <div class="col-7 col-md-4">
                  <div class="row">
                    <div class="col-9 col-md-9" style="padding-right:0px;">
                      <%if prod.inventario.present? && prod.inventario.to_i == 0%>
                        <button type="button" disabled class="btn btn-sm btn-secondary agotado btn-block">Agotado</button>
                      <%else%>
                        <% if @tienda.pedidos_restantes > 0 && @tienda.estatus == 1%>
                          <button id="btn_add_<%=prod.id%>" type="button" data-negocio-id="<%=@tienda.id%>" data-id="<%=prod.id%>"
                                  data-unidad="<%=prod.unidad%>" data-precio="<%=prod.precio%>" data-nombre="<%=prod.descripcion%>"
                                  class="btn btn-sm btn-aqua btn-cart-item btn-block">Agregar</button>
                        <% end %>
                      <%end%>
                      <div class="item-cantidades input-group input-group-sm" style="width: auto; display:none;">
                        <div class="input-group-prepend">
                          <button data-id="<%=prod.id%>" class="btn-pink btn btn-sm restar-item bg-pica"><i
                              class="fas fa-minus"></i></button>
                        </div>
                        <input onClick="this.select();" id="input_cant_<%=prod.id%>" data-id="<%=prod.id%>" type="number"
                          class="form-control input-cantidad-list input-sm" value="">
                        <div class="input-group-append">
                          <button data-id="<%=prod.id%>" class="btn-pink btn btn-sm sumar-item bg-pica"><i
                              class="fas fa-plus"></i></button>
                        </div>
                      </div>
                    </div>
                    <div class="col-3 col-md-3 align-self-center" style="padding: 2px;">
                      <div class="align-self-center" style="padding-left: 2px; font-size: 0.8rem;">
                        <span id="span_unidad_<%=prod.id%>" class="span-unidad" style="display:none;"> <%=prod.unidad[0..2]%></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
      <%end%>
    </div>
  <%else%>
      <div class="container cont-cat div-cat" id="cat_<%=I18n.transliterate(cat[:id]).delete(' ').remove(".")%>">
        <h3><%= cat[:nombre].titleize%></h3>
        <hr>
        <div class="row">
          <% cat[:productos].each_with_index do |prod,ind_prod|%>
            <div class="col-12 col-md-3">
              <div class="card mb-40">
                <div id="<%= "#{cat[:nombre].capitalize}_#{ind_prod}"%>" class="carousel slide card-img-top" data-ride="carousel">

                  <!-- Indicators -->
                  <ul class="carousel-indicators">
                    <% prod.foto.each_with_index do |fot, fot_inx|%>
                      <li data-target="#<%= "#{cat[:nombre].capitalize}_#{ind_prod}"%>" data-slide-to="<%=fot_inx%>"></li>
                    <%end%>
                  </ul>
                  
                  <!-- The slideshow -->
                  <div class="carousel-inner">
                    <% prod.foto.each_with_index do |fot, fot_inx|%>
                      <%if fot_inx == 0%>
                        <div class="carousel-item active">
                      <%else%>
                        <div class="carousel-item">
                      <%end%>
                        <a href="#" class="pop">
                          <img src="<%= fot %>" class="img-responsive">
                        </a>
                      </div>
                    <%end%>
                  </div>
                  
                  <!-- Left and right controls -->
                  <a class="carousel-control-prev" href="#<%= "#{cat[:nombre].capitalize}_#{ind_prod}"%>" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                  </a>
                  <a class="carousel-control-next" href="#<%= "#{cat[:nombre].capitalize}_#{ind_prod}"%>" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                  </a>
                </div>
                <div class="card-body">
                  <h5 class="card-title"><%=prod.descripcion.capitalize%></h5>
                  <p class="card-text"><%=number_to_currency(prod.precio)%>/<%=prod.unidad%></p>
                  <%if prod.descripcion2.present? %>
                    <p class="card-text"><%=prod.descripcion2.capitalize%></p>
                  <%else%>
                    <p class="card-text"></p>
                  <%end%>
                  <div class="card-text text-center">
                  <%if prod.inventario.present? && prod.inventario.to_i == 0%>
                    <button type="button" disabled class="btn btn-sm btn-secondary agotado">Agotado</button>
                  <%else%>
                      <% if @tienda.pedidos_restantes > 0 && @tienda.estatus == 1%>
                        <button id="btn_add_<%=prod.id%>" type="button" data-negocio-id="<%=@tienda.id%>" data-id="<%=prod.id%>"
                                data-unidad="<%=prod.unidad%>" data-precio="<%=prod.precio%>" data-inventario="<%=prod.inventario%>" data-nombre="<%=prod.descripcion%>"
                                class="btn btn-sm btn-aqua btn-cart-item">Agregar</button>
                      <% end %>
                  <%end%>
                  </div>
                  <div class="item-cantidades input-group input-group-sm mx-auto" style="width: 40%; display:none;">
                        <div class="input-group-prepend">
                          <button data-id="<%=prod.id%>" class="btn-pink btn btn-sm restar-item bg-pica"><i
                              class="fas fa-minus"></i></button>
                        </div>
                        <input onClick="this.select();" id="input_cant_<%=prod.id%>" data-id="<%=prod.id%>" type="number"
                          class="form-control input-cantidad-list input-sm" value="">
                        <div class="input-group-append">
                          <button data-id="<%=prod.id%>" class="btn-pink btn btn-sm sumar-item bg-pica"><i
                              class="fas fa-plus"></i></button>
                        </div>
                      </div>
                </div>
              </div>
            </div>
          <%end%>
        </div>
      </div>
  <%end%>
<%end%>


  <!-- Modal -->
  <div class="modal fade" id="imagemodal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <img src="" id="imagepreview">
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
        
      </div>
    </div>
  </div>
</div>